<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../templates/head.ejs') %>
    </head>
    <body id="body">
        <%- include('../templates/header.ejs') %>
        <%- include('../templates/login.ejs') %>
        <button class="top-button" id="top-button" title="Go to top"><i class="far fa-arrow-alt-circle-up"></i></button>
        <div class="article" id="article"></div>
        <button class="comments-button" id="comments-button" title="Show comments">Comments</button>
        <div class="comment-list" id="comment-list"></div>
        <%- include('../templates/comment_form.ejs') %>
        <%- include('../templates/footer.ejs') %>
    </body>
</html>