@import '~styles/settings.scss';
@import '~styles/layout.scss';

body {
    background-color: $white;
}

.article-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    width: 80%;
}

.article-info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
    .article-link {
        color: $text-color;
    }
}

.article-list {
    margin: 150px 20px 0 20px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.article-description {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-container {
    max-width: 100%;
    box-sizing: border-box;
    z-index: 0;
}

img {
    width: 100%;
}

.author-image {
    display: none;
}

.author-desc {
    display: none;
}

a {
    text-decoration: none;
}

.author-name {
    font-weight: bold;
    color: $text-color;
}

.author-info {
    background-color: $white;
}

.author-name:hover .author-image {
        display: block;
        color: red;
}

.author-info {
    padding: 10px 0;
}

.time-comments {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
    height: 5px;
    width: 100%;
}

.publish-time {
    width: 45%;
    max-width: 100%;
}

.comment-count {
    width: 20%;
    max-width: 100%;

}

.comment-icon {
    width: 20%;
    max-width: 100%;
    text-align: center;
}

.like-button {
    text-decoration: none;
    border: none;
    background: none;
    width: 10%;
    max-width: 100%;
    text-align: center;
    &:focus {
        outline: none;
    }
}

.like-icon {
    color: red;
    font-size: $font-size-xxl;
}

.top-button {
    position: fixed;
    display: none;
    left: 90%;
    top: 80%;
    border: none;
    margin: 0;
    background: none;
    opacity: 1;
    text-decoration: none;
    line-height: 1;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    border-radius: 100%;
    z-index: 1;

    &:focus {
        outline: none;
    }
}

.fa-arrow-alt-circle-up {
    text-align: center;
    color: $primary-color;
    background-color: $white;
    border-radius: 100%;
    border: 1px solid $primary-color;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: $font-size-xxl;
}

@include for-tablet-portrait {
    .article-container {
        width: 70%;
    }

    .time-comments {
        height: 10px;
        max-width: 100%;
    }

    .publish-time {
        width: 45%;
        max-width: 100%;
    }

    .comment-count {
        width: 25%;
        max-width: 100%;

    }

    .comment-icon {
        width: 10%;
        max-width: 100%;
        text-align: center;
    }
}

@include for-tablet-landscape {
    .article-container {
        width: 50%;
    }

    .article-list {
        margin: 220px 20px 0px 20px;
    }

    .time-comments {
    width: 500px;
    }
}

@include for-desktop {
    .top-button {
        opacity: 0.25;
    }

    .top-button:hover {
        opacity: 1;
    }
}