@import '~styles/settings.scss';
@import '~styles/layout.scss';

.article {
    margin-top: 170px;
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
}

.article-container {
    margin-top: 100px;
    padding: 15px 0px;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    max-width: 100%;
    width: 100%;
}

.article-info {
    order:2;
    padding: 0 50px;
}

.article-link h3 {
    font-size: $font-size-xxl;
    text-align: center;
}

.article-description {
    width: 100%;
    max-width: 100%;
}

.image-container {
    order: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    z-index: -25;
}

img {
    max-width: 100%;
    z-index: -1;
    margin: auto;
}

.author-image {
    display: none;
}

.author-desc {
    display: none;
}

.author-info {
    padding: 10px 0;
    .author-name {
        font-weight: bold;
        color: $text-color;
    }
}

.time-comments {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: center;
    width: 100%;
}

.publish-time {
    width: 45%;
    max-width: 100%;
}

.comment-count {
    width: 45%;
    max-width: 100%;

}

.comment-icon {
    width: 10%;
    max-width: 100%;
    text-align: center;
}

  @include for-tablet-landscape {
    .article-list {
        margin: 200px 20px 0px 20px;
    }

  }