
<div class="article-list">
    <div class="article-info">
        <a class="article-link" href="./"><h3>Article title</h3></a>
        <p class="article-description">Article Description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="author-info">
            <a class="author-name" href="#">John Smith</a>
            <div class="author-image"><img src="" alt="Autor Photo">Author Photo</div>
            <p class="author-desc">Author Description</p>
        </div>
        <div class="time-comments">
            <time class="publish-time">Publish time</time>
            <p class="comment-count">5000</p>
        </div>
    </div>
    <div class="image-container"><img src="../../assets/grass_img.jpg" alt="Image or Video"></div>
</div>
