<div class="article-list">
    <a class="article-link" href="./"><h3>Article title</h3></a>
    <i><img src="" alt="Image or Video"></i>
    <p class="article-description">Article Description</p>
    <div class="author-info">
        <p class="author-name">John Smith</p>
        <i><img src="" alt="Autor Photo">Author Photo</i>
        <p class="author-desc">Author Description</p>
    </div>
    <time class="publish-time">Publish time</time>
    <p class="comment-count">comment-count</p>
</div>