<footer>
    <p>Copyright 2018 Islanz, Inc.</p>
    <a id="facebook-icon" href="./">facebook-icon</a>
    <a id="twitter-icon" href="./">twitter-icon</a>
    <a id="own-icon" href="./">own-icon</a>
    <a id="terms" href="./">terms-policy</a>
    <a id="contact" href="./">contact</a>
</footer>