<footer>
    <div class="icon-container">
        <i id="facebook-icon" class="fab fa-facebook-f"><a id="facebook-link" href="#"></a></i>
        <i id="twitter-icon" class="fab fa-twitter-square"><a id="twitter-link" href="#"></a></i>
    </div>
    <div class="link-container">
        <a id="terms" href="#">terms-policy</a>
        <a id="contact" href="#">contact</a>
    </div>
    <div class="copyright-container">
        <p class="copyright">Copyright 2018 Islanz, Inc.</p>
    </div>
</footer>