<header>
    <div class="title-container">
        <a href="/"><h1 id="title" class="title">Lorem Ipsum</h1></a>
        <h4 id="subtitle"> A varied magazine</h4>
    </div>
    <div class="menu-btn-container">
        <a href="#" title="menu-btn" id="menubtn" class="menu-btn">
            <span></span>
        </a>
    </div>
    <div class="menu" id="menu">
        <a title="CategoryA" id="categoryA" href="./">Category A</a>
        <a title="CategoryB" id="categoryB" href="./">Category B</a>
        <a title="CategoryC" id="categoryC" href="./">Category C</a>
        <a title="CategoryD" id="categoryD" href="./">Category D</a>
        <a title="CategoryE" id="categoryE" href="./">Category E</a>
    </div>
</header>