<div class="login-form" id="login-form">
        <form class="login">
            <header class="login-header">
                <p class="title">Log in</p>
                <button id="close-button" class="close-button"><i class="fas fa-times close-icon""></i></button>
            </header>
            <input type="text" placeholder="Username" autofocus/>
            <i class="fa fa-user"></i>
            <input type="password" placeholder="Password" />
            <i class="fa fa-key"></i>
            <a href="#">Forgot your password?</a>
            <button class="state-button">
                <i class="spinner"></i>
                <span class="state">Log in</span>
            </button>
        </form>
    </div>