@import 'utils';


$white: #fff;
$palegray: #DDD5D0;
$blue: #226CE0;
$palesilver: #CFC0BD;
$ashgrey: #B8B8AA;
$red: red;
$black : black;

$primary-color: $blue;
$secondary-color: lightgray;
$link-color: $palesilver;
$border-color: $ashgrey;
$error: $red;
$text-color:$black;

$box-shadow-default: 1px -5px 5px -5px $palegray;

$font-family: Helvetica, Sans-serif;

$font-size-xxxl: 36px;
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 16px;
$font-size: 14px;
$font-size-xs: 10px;
$font-size-xxs: 8px;

$gutter-padding: 30px;

$font-family: 'PT Serif', serif;
$font-family-main: 'Poppins', sans-serif;


// Breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

$footer-height: 58px;
