@import '~styles/settings.scss';
@import '~styles/layout.scss';
@import '~components/header/login-style.scss';

.header{

    background-image: -webkit-linear-gradient(-50deg, $primary-color 65%, darkblue 65%);
    position: fixed;
    top: 0%;
    box-sizing: content-box;
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

    .title-container{
        color: $white;
        width: 65%;
        padding-left: 50px;
        display: block;

        a {
          height: 50px;
        }

        .title {
          width: 100%;
          box-sizing: border-box;
          color: $white;
        }
    }

    .menu {
        transform: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $blue;
        position: absolute;
        top:120px;
        width: 200px;
        height: 350px;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.75s cubic-bezier(0.77,0.2,0.05,1.0);
        right:0;
        box-sizing: content-box;
    }

    .menu_active {
        position: absolute;
        transform-origin: 0% 0%;
        transform: translate(0%, 0);
        transition: transform 0.75s cubic-bezier(0.77,0.2,0.05,1.0);
        float: right;
    }

    div#menu a, button{
        padding: 20px;
        background-color:$blue;
        width: 100px;
        color: $white;
        box-sizing: content-box;
        text-align: center;
    }

    .login-button {
      border: none;
    }

    .menu-btn-container {
        width: 20%;
        height: 50px;
        position: relative;
        top: 20%;
        float: right;
        box-sizing: border-box;
    }

    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        float: right;
      }

      .menu-btn span,
      .menu-btn span::before,
      .menu-btn span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -1px;
        width: 20px;
        height: 2px;
        background-color: $blue;
      }

      .menu-btn span::before,
      .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
      }

      .menu-btn span::before {
        transform: translateY(-5px);
      }

      .menu-btn span::after {
        transform: translateY(5px);
      }

      .menu-btn_active span {
        height: 0;
      }

      .menu-btn_active span:before {
        transform: rotate(45deg);
      }

      .menu-btn_active span:after {
        transform: rotate(-45deg);
      }

      @include for-tablet-portrait {
        padding-right: 0;
      }

      @include for-tablet-landscape {

        .menu-btn-container{
          display: none;
        }

        .menu {
          flex-direction: row;
          width: 100%;
          height: 60px;
          transform: none;
          justify-content: flex-end;
          background-image: -webkit-linear-gradient(-75deg, $primary-color 20%, $white 20%);
          border-bottom: $primary-color 2px solid;
        }

        div#menu a{
          width: 100px;
          height: 20px;
          color: $primary-color;
          background-color: $white;
        }

        .login-button {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          outline: inherit;
          color: $primary-color;
        }

      }

      @include for-desktop {
      }
}