@import '~styles/settings.scss';
@import '~styles/layout.scss';

footer {
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    a {
        color: $text-color;
    }
}

.icon-container {
    width: 45%;
    display: flex;
    align-content: center;
}

#facebook-icon {
    width: 50%;
    text-align: center;
}

#twitter-icon {
    width: 50%;
    text-align: center;
}

.link-container {
    width: 55%;
    display: flex;
}

#terms {
    width: 60%;
    text-align: center;
}

#contact {
    width: 40%;
    text-align: center;
}

.copyright-container {
    width: 100%;
}

.copyright {
    font-size: $font-size-xxs px;
    text-align: center;
    width: 100%;
}

@include for-tablet-portrait {
    footer {
        width: 80%;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
  }

  @include for-tablet-landscape {
  }
