@import '~styles/settings.scss';
@import '~styles/layout.scss';

footer {
    display: flex;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding-top: 15px;
    background-color: $primary-color;
    color: $white;
    position: absolute;
    bottom: 80;
    a {
        color: $white;
    }
}

.icon-container {
    width: 45%;
    height: 50%;
    display: flex;
    align-content: center;
}

#facebook-icon {
    width: 50%;
    text-align: center;
}

#twitter-icon {
    width: 50%;
    text-align: center;
}

.link-container {
    width: 55%;
    display: flex;
}

#terms {
    width: 60%;
    text-align: center;
}

#contact {
    width: 40%;
    text-align: center;
}

.copyright-container {
    width: 100%;
    height: 50%;
}

.copyright {
    font-size: $font-size-xxs px;
    text-align: center;
    width: 100%;
}

@include for-tablet-portrait {
    footer {
        width: 100%;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;

    }
  }

  @include for-desktop {
      footer {
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
      }

      .icon-container {
          width: 33%;
      }

      .link-container {
          width: 33%;
      }

      .copyright-container {
          width: 33%;
      }
  }
